html {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
To understand more on how the layout was built check out the below URI
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

#root {
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: 80px 75px auto 40px;
  grid-template-areas:
    "header header"
    "search main"
    "aside main"
    "footer footer";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

header {
  grid-area: header;
  background-color: #212529;
}

.character-search {
  grid-area: search;
  background-color: #212529;
}

.character-search input, .character-search select  {
  font-size: 16px;
  border-color: black;
}

.character-listing {
  grid-area: aside;
  overflow-y: auto;
  background-color: #141414;
}

main {
  grid-area: main;
  overflow-y: auto;
  background-color: black;
}

footer {
  grid-area: footer;
  background-color: #212529;
}

h1, h2, h3 {
  color: #998EF3;
}

.secondary-header {
  color: #E62238;
}

input:focus {
  outline: #9F92F5 auto 5px;
} 

.character-selected {
  background-color: #9F92F5;
}
